<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">


<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Menu - Sidr Example</title>
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="../dist/stylesheets/jquery.sidr.dark.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/assets/javascripts/jquery.sidr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/newapplication.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>

</head>
<body>
        
<div class="contactpagepic">
    <br>
    <br>
    <img id= "simple-menu" src="https://photos-4.dropbox.com/t/2/AABH_kDcdQqtYgc1DV_htNMMF-bkvB_9GrpoEV1VYx0FhA/12/61905955/png/32x32/1/_/1/2/rsz_1rsz_imagelayer.png/EJTjv4EFGEAgBygH/4_nTVG345myivTIkGy0-biXYeTVIFDtN62Uz7o-z3A0?size=2048x1536&size_mode=3">


<div id="sidr">
      <ul>
          <li><%= link_to 'Home', "/"%>  <img alt="close" class="icon-close" src = " <%= image_url('close-white.svg') %> " width="24px"></li>
          <li><%= link_to 'About', controller: 'pages', action: 'about' %></li>
          <li><a href="#">Contact</a></li>
      </ul>          
</div>
    <br>
    <br>
    <br>
    <br>
    <h1 class="contactheading"> Get the latest update from Stories </h1>

<div class="wtf">
    <%= form_for :signup, url: signups_path do |f| %>
  <p>
    <%= f.label :first_name, class: "labels" %><br>
    <%= f.text_field :firstname, class: "field" %>
  </p>
 
  <p>
    <%= f.label :email, class: "labels" %><br>
    <%= f.text_field :email, class: "field" %>
  </p>
 
  <p>
    <%= f.submit "Join", class: "joinbtn"%>
  </p>
<% end %>
</div>

</div>

</body>

</html>
