<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">


<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Menu - Sidr Example</title>
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="../dist/stylesheets/jquery.sidr.dark.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/assets/javascripts/jquery.sidr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/newapplication.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>

</head>
<body>
        
<div class="contactpagepic">
    <br>
    <br>
    <%= image_tag("whitemenuicon.jpg", id: "simple-menu")%>


<div id="sidr">
      <ul>
          <li><%= link_to 'Home', "/"%> <img alt="close" class="icon-close" src = " <%= image_url('close-white.svg') %> " width="24px"></li>
          <li><%= link_to 'About', controller: 'pages', action: 'about' %></li>
          <li><%= link_to 'Contact', controller: 'signups', action: 'new' %></li>
      </ul>          
</div>
    <br>
    <br>
    <br>
    <br>
    <h1 class="contactheading"> Thanks. We'll be in touch </h1>

</div>

<br>
<br>
	
  
</body>

</html>
